# Ignorar arquivos de configuração sensíveis
.env
*.env

# Ignorar arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar diretórios de dependências
node_modules/
bower_components/

# Ignorar diretórios de build
dist/
build/

# Ignorar diretórios de IDEs
.idea/
.vscode/
*.swp

# Ignorar arquivos de cache
*.cache
.cache/
.tmp/

# Ignorar arquivos gerados por sistemas de pacotes
package-lock.json
yarn.lock
